<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">

        <p>
        This is a stroop task with recording. You'll see a word written on the screen and your task is to say the <strong>color</strong> of the word you see. Speak as quickly as you can.
        </p>

        <p>
        When you finish speaking press the 'r' key to end the trial. Please make sure to press  <strong>'r' when you completely done</strong> or you'll cut off part of your recording. If there are a lot of cut off recordings we will <strong>reject your work</strong>.
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
