<script type="text/javascript">
  //var digit_meter;
  var canvas_meter;
  var canvas_context;

  function showVolume(div){
    instruction_container = document.getElementById('container-instructions');
    //digit_meter = document.createElement('div');

    canvas_meter = document.createElement('canvas');
    canvas_meter.height = 50;
    canvas_meter.width = 500;
    canvas_meter.style.borderColor = '#000000';
    canvas_meter.style.borderStyle = 'solid';
    canvas_meter.style.borderWidth = '1px';

    //instruction_container.insertBefore(digit_meter, instruction_container.firstChild);
    instruction_container.insertBefore(canvas_meter, instruction_container.firstChild);

    canvas_context = canvas_meter.getContext("2d");
    drawLoop();
  }

  function drawLoop( time ) {
    //digit_meter.innerText = volume_analyzer.volume.toFixed(2);
    canvas_context.clearRect(0, 0, canvas_meter.width, canvas_meter.height);
    (volume_analyzer.checkClipping()) ? canvas_context.fillStyle = "red": canvas_context.fillStyle = "green";
    canvas_context.fillRect(0, 0, volume_analyzer.volume*canvas_meter.width, canvas_meter.height);
    if (canvas_meter.offsetParent != null) {
      rafID = window.requestAnimationFrame( drawLoop );
    }
  }

</script>

<div id="container-instructions">

	<h1>Instructions</h1>

	<hr>

	<div class="instructions well">

        <p>
            Let's try out your microphone, we'll need to make sure it works before we do anything else.
        </p>
        <button type="button" id="show_volume" value="show" onclick = 'showVolume()'>
          show volume
        </button>
        <p>
            Press the show volume button and talk normally, for instance say something like "Pleased to meet you".
            If you notice that the bar turns red when you speak, please turn down your microphone's input volume (google how to do this you are not sure).
            <strong>Do not continue this experiment if you cannot adjust your microphone level such that you don't see a red bar.</strong>
            The red bar indicates that parts of your recordings will will be unusable and we will have to exclude you from our study (and <strong>reject your work</strong>).
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
